* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Gabarito", sans-serif;
}

.navbar {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    gap: 10px;
    flex-wrap: wrap;
}

.navbar__s1__title {
    color: #B81AC3;
}

.navbar__s2 {
    padding: 10px;
    border: 1px solid black;
    border-radius: 30px;
    width: 60%;
    display: flex;
    gap: 10px;
    align-items: center;
    background-color: white;
}

.navbar__s2 input {
    border: none;
    width: 100%;
    font-size: 16px;
    outline: none;
}

.navbar__s3 {
    display: flex;
    gap: 10px;
    align-items: center;
}

.categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
    border-bottom: 1px solid black;
    gap: 10px;
}

.categories p {
    background-color: #B81AC3;
    color: white;
    padding: 10px 20px;
    border-radius: 30px;
}

.sale-image img {
    width: 100%;
    display: block;
}

.recommended,
.topics,
.popular {
    padding: 20px;
}

.recommended__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;

}

.course-card {
    width: 230px;
    background-color: #f8f8f8;
    padding: 10px;
    border-radius: 8px;
}

.course-card img {
    width: 100%;
    height: 130px;
    object-fit: cover;
    border-radius: 5px;
}

.topics{
    padding: 10px;
}
.topics__container{
    display: flex;
    gap: 10px;
    margin-top: 10px;
    flex-wrap: wrap;
    
}
.topics__container p{
    border: solid grey 2px;
    padding: 10px;
    flex-grow: 1;
    flex-basis: 25%;
}


.popular{
    padding: 10px;
}
.popular__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
}

.footer {
    padding: 30px;
    background-color: black;
    color: white;
}

.footer__one {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
}

.footer__one p {
    margin: 10px 0;
}

.footer__two {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    align-items: center;
    border-top: 1px solid grey;
    padding-top: 20px;
}
